!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    //- This stops Chrome's bitching for a favicon.
    link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")

    title Delta
    != css('style')
    block css

    script(src='/socket.io/socket.io.js')
    != js('/components/jquery/jquery')
    != js('script')
    block js

  body
    #wrapper
      block header
        header.grid
          a#home-link(href='/')

      #background
          #content.grid(role='main')
            block content
          .footer-push

    block footer
      footer#footer.grid

